@import "./variables";
@import "./global";
@import "./desktop";
@import "./tablet";
@import "./landscape";
@import "./notTouchscreen";
@import "./animations";

// #######################################
//      LAYOUT
// #######################################

.Landscape {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgb(157, 196, 255);
    background: linear-gradient(-180deg, $backgroundBlue1 0%, $backgroundBlue2 100%);

    .contentContainer {
        pointer-events: all;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        max-height: calc(100% - 2rem);
        width: fit-content;
        max-width: calc(100% - 2rem);
        z-index: 60;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 1rem;
        padding: 1.5rem;

        .logoColor {
            height: 3rem;
            max-height: 3rem;
            min-height: 3rem;
            width: 3rem;
            max-width: 3rem;
            min-width: 3rem;
            margin-bottom: 1rem;
        }

        h1 {
            width: 100%;
            opacity: 0.9;
            font-size: 1.3rem;
            font-weight: 700;
            text-align: center;
        }
    }
}

.Loading {
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $background;
    opacity: 0;

    &.visible {
        pointer-events: all;
        opacity: 1;
    }

    .icon {
        height: 2.5rem;
        max-height: 2.5rem;
        min-height: 2.5rem;
        width: 2.5rem;
        max-width: 2.5rem;
        min-width: 2.5rem;
        color: black;
        opacity: 0.3;
    }
}

.MainLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgb(157, 196, 255);
    background: linear-gradient(-180deg, $backgroundBlue1 0%, $backgroundBlue2 100%);

    .mainPagesContent {
        position: relative;
        height: calc(100% - #{$navBarHeight});
        width: 100%;
    }
}

.Navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $navBarHeight;
    width: fit-content;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: $navbarPadding 0;
    border-radius: 100vw;
    padding: $navbarPadding 0;
    z-index: 20;

    .container {
        position: relative;
        display: flex;
        align-items: center;
        transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out;
        height: 100%;
        width: calc(2rem + #{$navBarHeight * 0.4});
        background-color: transparent;
        margin: 0 $navbarPadding;
        border-radius: 100vw;
        padding: 0 1rem;

        &.selected {
            width: 8rem;
            background-color: $backgroundBlue1;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) inset;

            .icon {
                color: $navbarAccent;
            }

            .name {
                transition: opacity 0.05s 0.15s ease-in-out, width 0.2s ease-in-out;
                width: 5rem;
                opacity: 1;
            }
        }

        .icon {
            transition: color 0.2s ease-in-out;
            height: $navBarHeight * 0.4;
            max-height: $navBarHeight * 0.4;
            min-height: $navBarHeight * 0.4;
            width: $navBarHeight * 0.4;
            max-width: $navBarHeight * 0.4;
            min-width: $navBarHeight * 0.4;
            color: $navbarLow;
        }

        .name {
            transition: opacity 0.05s ease-in-out, width 0.2s ease-in-out;
            width: 0%;
            opacity: 0;
            padding-left: 0.5rem;
            font-size: 0.95rem;
            font-weight: 700;
            text-align: center;
            color: $navbarAccent;
        }
    }
}

.Popup {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .blur {
        pointer-events: all;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 15;

        &.inFrontOfNavbar {
            z-index: 25;
        }
    }

    .contentContainer {
        pointer-events: all;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: fit-content;
        max-height: 90%;
        width: calc(100% - 2rem);
        max-width: 50rem;
        z-index: 30;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: $background;
        border-radius: 1rem;
        padding: 1rem;

        .closeApp {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .logoColor {
                height: 3rem;
                max-height: 3rem;
                min-height: 3rem;
                width: 3rem;
                max-width: 3rem;
                min-width: 3rem;
                margin-bottom: 0.5rem;
            }

            h1 {
                width: 100%;
                opacity: 0.9;
                margin-bottom: 1.5rem;
                font-size: 1.3rem;
                font-weight: 700;
                text-align: center;
            }

            .closeButtons {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;

                .closeButton {
                    pointer-events: all;
                    width: 12rem;
                    min-width: fit-content;
                    z-index: 40;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                    background-color: $closeButtonColor;
                    border-radius: 100vw;
                    padding: 0.8rem 1.6rem;
                    font-weight: 700;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.5);

                    &.low {
                        background-color: rgba(0, 0, 0, 0.1);
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

.Scores,
.Play,
.Settings {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

// #######################################
//      ONBOARDING
// #######################################

.Onboarding {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 222, 161);
}

// #######################################
//      PLAY
// #######################################

.Input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    touch-action: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .moveTetro {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-grow: 1;
        touch-action: none;
    }

    .gamaBoundingBox {
        position: relative;
        pointer-events: none;

        .rotateTetro {
            pointer-events: all;
            position: absolute;
            border-radius: 100vw;
            transform: translate3d(-50%, -50%, 0);
            touch-action: none;
            background: rgba(0, 0, 0, 0.05);
            background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 100%);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        }
    }
}

.UI {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10;

    .gameContainer {
        position: relative;

        .rotateBaseIcons {
            bottom: 12%;
            left: 0;
            right: 0;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .autoFallIcons {
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon {
            color: rgba(0, 0, 0, 0.3);
            height: 100%;
            min-height: 100%;
            max-height: 100%;
            padding: 3%;
            pointer-events: all;

            &.reflectVertical {
                transform: scaleY(-1);
            }
        }
    }
}

// #######################################
//      SCORES
// #######################################

// #######################################
//      SETTINGS
// #######################################

// #######################################
//      TUTORIAL
// #######################################

.Tutorial {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(161, 217, 255);
}
