@import "./variables";
@import "./global";
@import "./desktop";
@import "./tablet";
@import "./landscape";
@import "./notTouchscreen";
@import "./animations";

// #######################################
//      LAYOUT
// #######################################

.Landscape {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: $background1;
    background: linear-gradient(-180deg, $background1 0%, $background2 100%);
}

.Loading {
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $background;
    opacity: 0;

    &.visible {
        pointer-events: all;
        opacity: 1;
    }

    .icon {
        height: 2.5rem;
        max-height: 2.5rem;
        min-height: 2.5rem;
        width: 2.5rem;
        max-width: 2.5rem;
        min-width: 2.5rem;
        color: black;
        opacity: 0.3;
    }
}

.MainLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: $background1;
    background: linear-gradient(-180deg, $background1 0%, $background2 100%);

    .mainPagesContent {
        position: relative;
        height: 100%;
        width: 100%;
    }
}

.Navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    transform: translateY($navBarHeight + $navbarPadding * 2);
    height: $navBarHeight;
    width: fit-content;
    bottom: 0;
    z-index: 20;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: $navBarBackground;
    margin: $navbarPadding 0;
    border-radius: 100vw;
    padding: $navbarPadding 0;

    &.visible {
        transform: translateY(0);
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
        transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out;
        height: 100%;
        width: calc(2rem + #{$navBarHeight * 0.4});
        background-color: transparent;
        margin: 0 $navbarPadding;
        border-radius: 100vw;
        padding: 0 1rem;

        &.selected {
            width: 8rem;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) inset;
            background-color: $blueBack !important;

            &.navbarScores {
                background-color: $orangeBack;
            }

            &.navbarPlay {
                background-color: $purpleBack;
            }

            &.navbarSettings {
                background-color: $greenBack;
            }

            .icon {
                color: $blue !important;

                &.navbarScores {
                    color: $orange;
                }

                &.navbarPlay {
                    color: $purple;
                }

                &.navbarSettings {
                    color: $green;
                }
            }

            .name {
                transition: opacity 0.05s 0.15s ease-in-out, width 0.2s ease-in-out;
                width: 5rem;
                opacity: 1;
            }
        }

        .icon {
            transition: color 0.2s ease-in-out;
            height: $navBarHeight * 0.4;
            max-height: $navBarHeight * 0.4;
            min-height: $navBarHeight * 0.4;
            width: $navBarHeight * 0.4;
            max-width: $navBarHeight * 0.4;
            min-width: $navBarHeight * 0.4;
            color: $background2;
        }

        .name {
            transition: opacity 0.05s ease-in-out, width 0.2s ease-in-out;
            width: 0%;
            opacity: 0;
            padding-left: 0.5rem;
            font-size: 0.95rem;
            font-weight: 700;
            text-align: center;
            color: $blue !important;

            &.navbarScores {
                color: $orange;
            }

            &.navbarPlay {
                color: $purple;
            }

            &.navbarSettings {
                color: $green;
            }
        }
    }
}

.Popup {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .blur {
        pointer-events: all;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 15;

        &.inFrontOfNavbar {
            z-index: 25;
        }
    }
}

.contentContainer {
    pointer-events: all;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.2s ease-in-out;
    height: fit-content;
    max-height: 90%;
    width: calc(100% - 2rem);
    max-width: 30rem;
    padding: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    z-index: 30;

    .logo {
        height: 3rem;
        max-height: 3rem;
        min-height: 3rem;
        width: 3rem;
        max-width: 3rem;
        min-width: 3rem;
        color: $purple;
        margin-bottom: -1rem;
    }

    h1 {
        width: 100%;
        opacity: 0.8;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
    }

    p {
        width: 100%;
        opacity: 0.8;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;

        &.score {
            margin-bottom: 0;
        }

        &.scoreValue {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1.5rem;

            &.high {
                margin-bottom: 0;
            }
        }

        &.highScore {
            font-size: 1.2rem;
            font-weight: 700;
            color: $purple;
        }

        &.yourScore {
            font-size: 0.9rem;
            margin: 1.5rem 0 0;
            opacity: 0.8;
        }

        &.yourScoreValue {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 0;
        }

        &.subtitle {
            opacity: 0.5;
            font-size: 0.8rem;
            font-weight: 500;
            margin-bottom: 0;
        }

        &.error {
            transition: opacity 0.2s ease-in-out;
            font-size: 0.9rem;
            font-weight: 600;
            margin-bottom: 0;
            opacity: 0;
            height: 2.5rem;
            margin: 1rem 0;
            color: rgb(224, 56, 26);
            display: flex;
            align-items: center;
            justify-content: center;

            &.visible {
                opacity: 1;
            }
        }
    }

    .loading {
        position: relative;
        transition: opacity 0.2s ease-in-out;
        width: 100%;
        margin-top: -4.5rem;
        height: 4.5rem;
        padding: 1.2rem 0;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &.visible {
            opacity: 1;
        }

        .icon {
            height: 100%;
            max-height: 100%;
            min-height: 100%;
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .input {
        pointer-events: all;
        transition: all 0.2s ease-in-out;
        width: 15rem;
        min-width: fit-content;
        z-index: 40;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        background-color: white;
        color: balck;
        border-radius: 100vw;
        padding: 0.8rem 1.6rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    .button {
        pointer-events: all;
        transition: all 0.2s ease-in-out;
        width: 15rem;
        min-width: fit-content;
        z-index: 40;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) inset;
        background-color: $purpleBack;
        color: $purple;
        border-radius: 100vw;
        padding: 0.8rem 1.6rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        &.middle {
            margin-bottom: 1rem;
        }

        &.low {
            background-color: rgba(0, 0, 0, 0.05);
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .message {
        position: absolute;
        transition: opacity 0.2s ease-in-out;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 30;
        overflow: hidden;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.8);
        color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        margin: 1rem 0 0;
        border-radius: 1rem;
        padding: 1rem 2rem;
        font-size: 0.9rem;
        font-weight: 600;
        text-align: center;

        &.visible {
            opacity: 1;
        }
    }
}

.Scores,
.Play,
.Settings {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

// #######################################
//      ONBOARDING
// #######################################

.Onboarding {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $background1;
    background: linear-gradient(-180deg, $background1 0%, $background2 100%);

    .contentContainer {
        transition: transform 0.5s ease-in-out;
        transition-delay: 0.5s;
        margin-bottom: 50%;
        transform: translateY(-100vh);

        &.visible {
            transform: translateY(0);
        }
    }

    .blur {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        backdrop-filter: blur(10px);
        pointer-events: all;
    }

    .backgroundImage {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 70%;
            max-width: 25rem;
        }
    }
}

// #######################################
//      PLAY
// #######################################

.Input {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    touch-action: none;

    .moveTetro {
        position: absolute;
        display: flex;
        flex-grow: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        touch-action: none;
    }

    .gamaBoundingBox {
        pointer-events: none;
        position: relative;

        .rotateTetro {
            pointer-events: all;
            position: absolute;
            transform: translate3d(-50%, -50%, 0);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            background: rgba(0, 0, 0, 0.05);
            background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 100%);
            border-radius: 100vw;
            touch-action: none;
        }
    }
}

.UI {
    pointer-events: none;
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    .gameContainer {
        position: relative;

        .topIcons {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            top: 0;
            right: 0;
            left: 0;

            .score {
                font-weight: 700;
                font-size: 2rem;
                text-align: center;
                color: $iconTop;
            }

            .nextTetromino {
                pointer-events: none;
                height: 100%;
                max-height: 100%;
                min-height: 100%;
                padding: 0.5rem 0.5rem 0 0;
            }
        }

        .rotateBaseIcons {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            right: 0;
            bottom: 11%;
            left: 0;
        }

        .autoFallIcons {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .icon {
            pointer-events: all;
            height: 100%;
            max-height: 100%;
            min-height: 100%;
            color: $iconBottom;
            padding: 3%;

            &.top {
                color: $iconTop;
            }

            &.reflectVertical {
                transform: scaleY(-1);
            }

            &.gamePaused {
                opacity: 0;
            }
        }
    }
}

// #######################################
//      SCORES
// #######################################

// #######################################
//      SETTINGS
// #######################################

// #######################################
//      TUTORIAL
// #######################################

.Tutorial {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(161, 217, 255);
}
