@import "./variables";
@import "./global";
@import "./desktop";
@import "./tablet";
@import "./landscape";
@import "./notTouchscreen";
@import "./animations";

// #######################################
//      LAYOUTS
// #######################################

.MobileLayout {
    position: relative;
    height: 100%;
    width: 100%;
}

// #######################################
//      GAME
// #######################################

.Game {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(157, 196, 255);
    background: linear-gradient(-180deg, rgb(170, 204, 255) 0%, rgb(145, 189, 255) 100%);
}

// #######################################
//      INPUT
// #######################################

.Input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    touch-action: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .moveTetro {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-grow: 1;
        touch-action: none;
    }

    .gamaBoundingBox {
        position: relative;
        pointer-events: none;

        .rotateTetro {
            pointer-events: all;
            position: absolute;
            border-radius: 100vw;
            transform: translate3d(-50%, -50%, 0);
            touch-action: none;
            background: rgba(0, 0, 0, 0.05);
            background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 100%);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        }
    }
}

// #######################################
//      UI
// #######################################

.UI {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10;

    .gameContainer {
        position: relative;

        .rotateBaseIcons {
            bottom: 12%;
            left: 0;
            right: 0;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .autoFallIcons {
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon {
            color: rgba(0, 0, 0, 0.3);
            height: 100%;
            min-height: 100%;
            max-height: 100%;
            padding: 3%;
            pointer-events: all;

            &.reflectVertical {
                transform: scaleY(-1);
            }
        }
    }
}
