$background: rgba(255, 255, 255, 1);
$text: rgba(20, 20, 20, 1);
$fontSize: 16px;
$titleHeight: 3rem;

// BACKGROUND
$background1: rgba(202, 219, 255, 1);
$background2: rgba(164, 201, 255, 1);

// NAVBAR
$navBarBackground: rgba(232, 239, 255, 1);
$navBarHeight: 3.5rem;
$navbarPadding: 0.4rem;

// COLORS
$greenBack: rgba(215, 245, 197, 1);
$green: rgba(87, 170, 35, 1);
$orangeBack: rgba(255, 222, 190, 1);
$orange: rgba(255, 125, 19, 1);
$purpleBack: rgba(235, 199, 255, 1);
$purple: rgba(162, 0, 255, 1);
$blueBack: rgba(189, 215, 255, 1);
$blue: rgba(33, 122, 204, 1);

// ICONS
$iconTop: rgb(145, 177, 224);
$iconBottom: rgb(129, 164, 218);
