$background: rgb(255, 255, 255);
$text: rgb(20, 20, 20);
$fontSize: 16px;
$titleHeight: 3rem;

// COLORS
$backgroundBlue1: rgb(199, 217, 255);
$backgroundBlue2: rgb(139, 185, 255);

// POPUP
$closeButtonColor: rgb(255, 169, 56);

// NAVBAR
$navBarHeight: 3.5rem;
$navbarAccent: rgb(52, 143, 228);
$navbarLow: rgba(0, 0, 0, 0.2);
$navbarPadding: 0.4rem;
