$background: rgb(255, 255, 255);
$text: rgb(20, 20, 20);
$fontSize: 16px;
$titleHeight: 3rem;

// COLORS
$blue1: rgb(199, 217, 255);
$blue2: rgb(139, 185, 255);
$blue3: rgb(52, 143, 228);

// NAVBAR
$navBarHeight: 3.5rem;
$navbarLow: rgba(0, 0, 0, 0.2);
$navbarPadding: 0.4rem;
